  <ion-content class="ion-justify-content-center">
    <ion-row class="header-login-register">
      <div class="head-logo">
        <img src="../assets/imgs/logo-w.svg" class="img-head-logo">
      </div>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button class="no-borderradius" value="register">
          <ion-label>Registro</ion-label>
        </ion-segment-button>
        <ion-segment-button class="no-borderradius checked" value="login">
          <ion-label>Ingresa</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    <form [formGroup]="login_data" (ngSubmit)="doLogin(login_data.value)"> 
      <ion-row justify-content-center>
        <ion-col align-self-center>
          <div padding>
            <br><br>
            <ion-list>
              <ion-item class="ion-item-color-border">
                <ion-input formControlName="email" color="primary" type="text" placeholder="email@ejemplo.com" required="true" class="margin-start-input">
                  <ion-icon name="mail" slot="start" align-self-center class="margin-icon"></ion-icon>
                </ion-input>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item class="ion-item-color-border">
                <ion-input formControlName="password"  color="primary" type="password" placeholder="contraseña" required="true" class="margin-start-input">
                  <ion-icon name="lock" slot="start" align-self-center class="margin-icon"></ion-icon>
                </ion-input>
              </ion-item>
            </ion-list>
          </div>
          <div padding>
            <ion-button type="submit" size="large" color="secondary" expand="block">Iniciar Sesión</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center class="row-bottom">
        <ion-col align-self-center class="align-center-span">
          <span class="red" (click)="openTermCond(1)">Términos de uso </span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="red big" (click)="openTermCond(2)">Política de privacidad</span>
          <br><br>
          <span (click)="openPassword()" class="blue">¿Olvidaste tu contraseña?</span>
          <br><br>
          <span (click)="co.go('/register')" class="blue">¿No tienes cuenta?</span>
        </ion-col>
      </ion-row>
  </form>
  </ion-content>