.art-text {
    /* text-align: justify; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.art_textwall.banner-subtext {
    text-align: justify;
    margin-top: 15px;
}