<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button (click)="clickonmenu()">
        <img  class="menu-btn" src='../assets/imgs/menu.svg'>
      </ion-menu-button>
    </ion-buttons>
    <img class="enlac-logo" src="../assets/imgs/logo.svg"  routerLink="/home">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center">
    <ion-toolbar color="primary" class="name-toolbar"><ion-title slot="start" class="font-name right-align">John Doe</ion-title> <ion-label class="font-subtoolbar"> Inicio del tratamiento 00/00/0000 </ion-label></ion-toolbar>
  <div class="page_centerer">
    <div class="page-width">
    <div class="page_banner">
      <div class="page_banner_block"><img  class="block banner-img" src="../assets/imgs/learn.svg"> </div>
      <div class="page_banner_block col" > 
        <span class="title-label row" >Aprende +</span>
        <span class="banner-subtext row">Te compartimos información relevante para tu salud</span>
      </div>
    </div>
    <div class="horizontal-separator"></div>
    <div class="art-img_wrapper">
      <img class="art-img" src="../assets/imgs/logo.svg">
    </div>
    <div class="art-text">
      <div class="art_title title-label"> Titulo del articulo </div>
      <div class="art_textwall banner-subtext"> 
        Fames! Lobortis, voluptate etiam veritatis porro reprehenderit vehicula interdum, fugiat, omnis etiam felis facere corporis saepe! Aliquam molestiae, pariatur aliquid minus excepteur culpa! Vivamus. Dicta. Consequatur facere accumsan parturient. Torquent, hac facere eum, vehicula perspiciatis, mi aut a? Nemo, doloribus aliquet blanditiis, cupiditate ex lobortis quod turpis doloremque mattis placerat leo porro commodi esse quibusdam. Ridiculus! Libero animi doloribus eaque, lacus corporis scelerisque? Ultricies! Fames hendrerit consequatur suscipit nemo, reiciendis omnis necessitatibus cras senectus eligendi at convallis lacinia quam necessitatibus, sapien torquent ridiculus nulla nonummy unde mattis distinctio, turpis suspendisse. Adipiscing sequi, rutrum beatae quibusdam! Vehicula, nibh vehicula congue, nostrud.</div>

      </div>
    </div>
    </div>
 
 
</ion-content>
