// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #386D88;
  --ion-color-primary-transparent: rgba(56,109,136,.5);
  --ion-color-primary-rgb: 56,109,136;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #316078;
  --ion-color-primary-tint: #4c7c94;

  --ion-color-secondary: #D43045;
  --ion-color-secondary-rgb: 212,48,69;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #bb2a3d;
  --ion-color-secondary-tint: #d84558;

  --ion-color-tertiary: #6CC365;
  --ion-color-tertiary-rgb: 108,195,101;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #5fac59;
  --ion-color-tertiary-tint: #7bc974;

  --ion-color-success: #6CC365;
  --ion-color-success-rgb: 108,195,101;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #5fac59;
  --ion-color-success-tint: #7bc974;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #D43045;
  --ion-color-danger-rgb: 212,48,69;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #bb2a3d;
  --ion-color-danger-tint: #d84558;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #F4F6F8;
  --ion-color-medium-rgb: 244,246,248;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #d7d8da;
  --ion-color-medium-tint: #f5f7f9;

  --ion-color-light: #bebebe;
  --ion-color-light-rgb: 190,190,190;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #a7a7a7;
  --ion-color-light-tint: #c5c5c5;


  --ion-font-family: 'Lato';
  --menu-background:#3B5562;
}