.margin-toop{
    margin-top: 15%;
    width: 90%;
}

.borders-bottom{
    border-bottom: 1px solid #c5c5c5;
}

.margin-icon{
    margin-top: 20px;
    width: 100%;
    display: initial;
}

.center{
    text-align: center;
}

.section{
    margin-bottom: 20%;
    margin-top: 20%;
}

.border-riight{
    border-right: 1px solid #c5c5c5;
}

.small-longsection{
    margin: 0px;
}

.small-longsection{
    border-top: none;
}