.gray{
    height: 120px;
    width: 100%;
    min-height: 120px;
}

.grid_alarm{
    height: 100%;
}

.clinica-section{
    margin-top: 5%;
}

.bullet-img{
    width: 8%
}

.bord-bottom{
    border-bottom: 1px solid #c5c5c5;
}

.list_title{
    border-top: 1px solid #c5c5c5;
}

.list_wrapper{
    margin-top: 5%;
}