
  
<ion-content padding color="--menu-background">
    <ion-grid>
  
      <ion-row>
        <ion-col class="close">
          <ion-button (click)="closeModalNo()">X</ion-button>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <div class="page_banner">
          <div class="page_banner_block">
            <img  class="block banner-img" src="../assets/imgs/lab.svg"> 
          </div>
          <div class="page_banner_block col" >
            <span class="title-label row">¿Realizaste la prueba de laboratorio?</span>
            <span class="banner-subtext row font-sub-primary">{{fecha_param| date:'dd/MM/yyyy'}}     
            </span>
          </div>
        </div>
      </ion-row>
      <ion-row>
        <div class="gray">
          <div *ngIf="!puedeMarcarPrueba_param" class="flex_all-centered clinica-section">
            <button class="button-not-now">Aún no es tiempo de realizar esta prueba, regresa cuando la fecha sea correcta</button>
            <br>
          </div>
          <div *ngIf="puedeMarcarPrueba_param" class="flex_all-centered clinica-section">
            <button *ngIf="!statusPrueba_param" class="bg-tertiary font-20" (click)="enableDisable(nidProximaPrueba_param,status_param)" ><img class="icon-button" src="../assets/imgs/palomita.svg">  ¡Sí, ya asistí! </button>
            <button *ngIf="statusPrueba_param" class="bg-tertiary font-20 butondisabled"><img class="icon-button" src="../assets/imgs/palomita.svg">  ¡Sí, ya la tomé! </button>
            <br>
            <button *ngIf="statusPrueba_param" class="bg-secondary font-20" (click)="enableDisable(nidProximaPrueba_param,false)"><img class="icon-button" src="../assets/imgs/x.svg"> Aún no </button>
            <button *ngIf="!statusPrueba_param" class="bg-secondary font-20 butondisabled"><img class="icon-button" src="../assets/imgs/x.svg"> Aún no </button>
            <br>            
          </div>
          <div class="flex_all-centered clinica-section">
            <span class="title-label-href row" (click)="navegar('/pruebas')">Ver registro completo   &nbsp; &nbsp;<img class="icon-button" src="../assets/imgs/chevron.svg"></span>
          </div>
        </div>
      </ion-row>
    </ion-grid>
  </ion-content>