<ion-header>
    <ion-toolbar class="header-toolbar">
      <ion-buttons slot="end">
        <ion-menu-button>
          <img  class="menu-btn" src='../assets/imgs/menu.svg'>
        </ion-menu-button>
      </ion-buttons>
      <img class="enlac-logo" src="../assets/imgs/logo.svg"  routerLink="/home">
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-justify-content-center">
    <ion-toolbar color="primary" class="name-toolbar">
      <ion-label class="font-name">{{name_head}}</ion-label>
      <ion-label class="font-subtoolbar">Inicio del tratamiento {{date_head}}</ion-label>
    </ion-toolbar>
    <ion-grid class="margin-toop">
      <ion-row>
        <div class="page_banner">
          <div class="page_banner_block">
            <img  class="block banner-img" src="../assets/imgs/date.svg"> 
          </div>
          <div class="page_banner_block col" >
            <span class="title-label row">Dosis diarias</span>
            <span class="banner-subtext row font-sub-primary">Marca tu dosis diaria para llevar un seguimiento real de tu medicación.                
            </span>
          </div>
        </div>
      </ion-row>
      <ion-row>
        <div class="clinica gray">
          <div class="background_shadow grid_alarm">
            <span class="flex_all-centered">
              <!-- <img  class="icon-img" src='../assets/imgs/check.svg' (click)="imgModal()"> -->
              <img  *ngIf="US.dosisdia == true" class="icon-img" src="../assets/imgs/check.svg" (click)="imgModal()">
              <img  *ngIf="US.dosisdia == false"class="icon-img" src="../assets/imgs/no-check.svg" (click)="imgModal()">
            </span>
            <span class="flex_left" >
              <span class="section font-primary font-14 font-bold">Dosis del día</span>
              <span class="section  font-20 font-bold">
                <span class="font-primary">{{todayS}}</span>
              </span>
            </span>
          </div>
        </div>
      </ion-row>
      <ion-row>
          
        <ion-calendar 
          [(ngModel)]="date"
          (ngModelChange)="onChange($event)"
          (select)="onEventSelected($event)"
          [options]="options"
          type="string"
          format="YYYY-MM-DD">
        </ion-calendar>
          <!-- <ion-calendar [(ngModel)]="dateMulti" (ngModelChange)="onChange($event)" [type]="string" [format]="'YYYY-MM-DD'" [options]="optionsMulti"> </ion-calendar> -->
      </ion-row>
    </ion-grid>

  </ion-content>
  