<ion-header>
    <ion-toolbar class="header-toolbar">
      <ion-buttons slot="end">
        <ion-menu-button>
          <img  class="menu-btn" src='../assets/imgs/menu.svg'>
        </ion-menu-button>
      </ion-buttons>
      <img class="enlac-logo" src="../assets/imgs/logo.svg"  routerLink="/home">
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-justify-content-center">
    <ion-toolbar color="primary" class="name-toolbar">
      <ion-label class="font-name">Juan Carlos</ion-label>
      <ion-label class="font-subtoolbar">Inicio del tratamiento 00/00/0000</ion-label>
    </ion-toolbar>
    <ion-grid class="margin-toop">
      <ion-row>
        <div class="page_banner">
          <div class="page_banner_block">
            <img  class="block banner-img" src="../assets/imgs/date.svg"> 
          </div>
          <div class="page_banner_block col" >
            <span class="title-label row">Dosis diarias</span>
            <span class="banner-subtext row font-sub-primary">Marca tu dosis diaria para llevar un seguimiento real de tu medicación.                
            </span>
          </div>
        </div>
      </ion-row>
      <ion-row>
        <div class="clinica gray">
          <div class="background_shadow grid_alarm">
            <span class="flex_all-centered">
              <img  class="icon-img" src='../assets/imgs/check.svg'>
            </span>
            <span class="flex_left" >
              <span class="section font-primary font-14 font-bold">Dosis del día</span>
              <span class="section  font-20 font-bold">
                <span class="font-primary">00/00/0000</span>
              </span>
            </span>
          </div>
        </div>
      </ion-row>
      <ion-row>
          <ion-calendar [(ngModel)]="date" [format]="'YYYY-MM-DD'"></ion-calendar>
      </ion-row>
    </ion-grid>

  </ion-content>
  