
 <ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button>
        <img  class="menu-btn" src='../assets/imgs/menu.svg'>
      </ion-menu-button>
    </ion-buttons>
    <img class="enlac-logo" src="../assets/imgs/logo.svg"  routerLink="/home">
  </ion-toolbar>
</ion-header>
 
  <ion-content class="ion-justify-content-center">
    <!-- <ion-toolbar color="primary" class="name-toolbar">
      <ion-label class="font-name">{{name_head}}</ion-label>
      <ion-label class="font-subtoolbar">Inicio del tratamiento {{date_head}}</ion-label>
    </ion-toolbar> -->
    <ion-row justify-content-center>
      <ion-col align-self-center>
        <form [formGroup]="update_data"  (ngSubmit)="updData(update_data.value)">
          <div padding>
            <ion-list class="list-height">
              <ion-item class="ion-item-color-border">
                <ion-label position="floating" class="label-size">NOMBRE</ion-label>
                <ion-input formControlName="name" type="text" required value="{{in_name}}"></ion-input>
              </ion-item>
            </ion-list>
            <ion-list class="list-height">
              <ion-item class="ion-item-color-border">
                <ion-label position="floating" class="label-size">APELLIDOS</ion-label>
                <ion-input formControlName="apellidos" type="text" required value="{{in_apellidos}}"></ion-input>
              </ion-item>
            </ion-list>
            <ion-list class="list-height">
              <ion-item class="ion-item-color-border">
                <ion-label position="floating" class="label-size">CORREO</ion-label>
                <ion-input formControlName="mail" type="email" required value="{{in_mail}}" disabled></ion-input>
              </ion-item>
            </ion-list>
            <ion-list class="list-height">
              <ion-item class="ion-item-color-border">
                <ion-label position="floating" class="label-size">CONTRASEÑA</ion-label>
                <ion-input formControlName="pass" type="password" required></ion-input>
              </ion-item>
            </ion-list>
            <ion-list class="list-height">
              <ion-item class="ion-item-color-border">
                <ion-label position="floating" class="label-size">CONFIRMAR CONTRASEÑA</ion-label>
                <ion-input formControlName="pass1" type="password" required></ion-input>
              </ion-item>
            </ion-list>
            <ion-list class="list-height">
              <ion-item class="ion-item-color-border">
                <ion-label position="floating" class="label-size">FECHA DE NACIMIENTO</ion-label>
                <ion-datetime  formControlName="fecha_nacimiento" value="{{in_fecha_nacimiento}}"  monthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic' doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
              </ion-item>
            </ion-list>
            <ion-list class="list-height">
              <ion-item class="ion-item-color-border">
                <ion-label position="floating" class="label-size">SEXO</ion-label>
                <ion-select formControlName="sexo" [(ngModel)]="sexo" ok-text="Aceptar" cancel-text="Cancelar">
                    <ion-select-option *ngFor="let item of sexosData" value="{{item.tid}}">{{item.name}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-list class="list-height">
              <ion-item class="ion-item-color-border">
                <ion-label position="floating" class="label-size">INSTITUCIÓN</ion-label>
                <ion-select formControlName="institucion" [(ngModel)]="institucion" ok-text="Aceptar" cancel-text="Cancelar">
                    <ion-select-option *ngFor="let item of institutoData" value="{{item.tid}}">{{item.name}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-list class="list-height">
              <ion-item class="ion-item-color-border">
                <ion-label position="floating" class="label-size">CÓDIGO POSTAL</ion-label>
                <ion-input formControlName="cp" #cp type="text" required (input)="searchCP(cp.value)" value="{{in_cp}}"></ion-input>
              </ion-item>
            </ion-list>
            <ion-list class="list-height">
              <ion-item class="ion-item-color-border">
                <ion-label position="floating" class="label-size">MUNICIPIO</ion-label>
                <ion-input formControlName="municipio" type="text" [(ngModel)]="in_municipio" disabled></ion-input>
              </ion-item>
            </ion-list>
            <ion-list class="list-height">
              <ion-item class="ion-item-color-border">
                <ion-label position="floating" class="label-size">ESTADO</ion-label>
                <ion-input formControlName="estado" type="text" [(ngModel)]="in_estado" disabled></ion-input>
              </ion-item>
            </ion-list> 
            <ion-list class="list-height">
              <ion-item class="ion-item-color-border">
                <ion-label position="floating" class="label-size">INICIO DEL TRATAMIENTO</ion-label>
                <ion-datetime  formControlName="fecha_inicio" value="{{in_fecha_inicio}}"  monthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic' doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
                <!-- <ion-input formControlName="fecha_inicio" type="text" ngModel required></ion-input> -->
              </ion-item>
            </ion-list>
            <!-- <ion-list class="list-height">
              <ion-item class="no-border-item">
                <br>
                <ion-checkbox color="danger" class="check-style" formControlName="condiciones" checked="false"></ion-checkbox><p class="primary-text">Acepto los <span class="secondary-text">términos de uso</span> y la <span class="secondary-text-big">política de privacidad</span></p>
              </ion-item>
            </ion-list> -->
          </div>
        
          <div padding>
            <ion-button type="submit" size="large" color="secondary" expand="block">Actualizar</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
    
  </ion-content>
  