<ion-content class="ion-justify-content-center">
  <ion-row class="header-login-register">
    <div class="head-logo">
      <!-- <img src="../assets/imgs/logo_of.png" class="img-head-logo"> -->
    </div>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button class="no-borderradius checked" value="password">
        <ion-label>Recuperar Contraseña</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-row>
  <form [formGroup]="password_data" (ngSubmit)="requestPassword(password_data.value)"> 
    <ion-row justify-content-center>
      <ion-col align-self-center no-padding>
        <div padding>
          <br><br>
          <ion-list>
            <ion-item class="ion-item-color-border">
              <ion-input formControlName="email" color="primary" type="text" placeholder="email@ejemplo.com" required="true" class="margin-start-input">
                <ion-icon name="mail" slot="start" align-self-center class="margin-icon"></ion-icon>
              </ion-input>
            </ion-item>
          </ion-list>
        </div>
        <ion-row id="bottones-pass">
          <ion-col size="6" no-padding>
            <ion-button (click)="closeModal()" type="button" color="secondary" expand="full">Cancelar</ion-button>
          </ion-col>
          <ion-col size="6" no-padding>
            <ion-button type="submit" color="secondary" expand="full">Generar Contraseña</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
