
  
<ion-content padding color="--menu-background">
  <ion-grid>

    <ion-row>
      <ion-col class="close">
        <ion-button (click)="closeModal()">X</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <div class="page_banner">
        <div class="page_banner_block">
          <img  class="block banner-img" src="../assets/imgs/date.svg"> 
        </div>
        <div class="page_banner_block col" >
          <span class="title-label row">¿Tomaste tu dosis de hoy?</span>
          <span class="banner-subtext row font-sub-primary">00/00/00 00:00 xm                
          </span>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <div class="gray">
        <div class="flex_all-centered clinica-section">
          <button class="bg-tertiary font-20"><img class="icon-button" src="../assets/imgs/palomita.svg">  ¡Sí, ya la tomé! </button>
          <br>
          <button class="bg-secondary font-20"><img class="icon-button" src="../assets/imgs/x.svg"> Aún no </button>
          <br>
          <span class="title-label-href row" (click)="navegar('/dosis')">Ver registro completo   &nbsp; &nbsp;<img class="icon-button" src="../assets/imgs/chevron.svg"></span>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>