
  
<ion-content padding color="--menu-background">
  <ion-grid>

    <ion-row>
      <ion-col class="close">
        <ion-button (click)="closeModal()">X</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <div class="page_banner">
        <div class="page_banner_block">
          <img  class="block banner-img" src="../assets/imgs/date.svg"> 
        </div>
        <div class="page_banner_block col" >
          <span class="title-label row">¿Tomaste tu dosis de hoy?</span>
          <span class="banner-subtext row font-sub-primary">{{dateParam}}                
          </span>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <div class="gray">
        <div class="flex_all-centered clinica-section">
          <button *ngIf="activoSi == true" class="bg-tertiary font-20" (click)="registerAlarm(dateParam)"><img class="icon-button" src="../assets/imgs/palomita.svg">  ¡Sí, ya la tomé! </button>
          <button *ngIf="activoSi == false" class="bg-tertiary font-20 butondisabled"><img class="icon-button" src="../assets/imgs/palomita.svg">  ¡Sí, ya la tomé! </button>
          <br>
          <button *ngIf="activoNo == true" class="bg-secondary font-20" (click)="removeAlarm(nid)"><img class="icon-button" src="../assets/imgs/x.svg"> Aún no </button>
          <button *ngIf="activoNo == false" class="bg-secondary font-20 butondisabled"><img class="icon-button" src="../assets/imgs/x.svg"> Aún no </button>
          
          <!-- <p *ngIf="activoSi == true">cuando es true</p>
          <p *ngIf="activoSi == false">cuando es false</p> -->
          <br>
          <span class="title-label-href row" (click)="navegar('/dosis')">Ver registro completo   &nbsp; &nbsp;<img class="icon-button" src="../assets/imgs/chevron.svg"></span>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>