.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.margin-toop{
  margin-top: 5%;
  margin-bottom: 14%;
  width: 90%;
}

.borders-bottom{
  border-bottom: 1px solid #c5c5c5;
}

.borders-rigth{
  border-right: 1px solid #c5c5c5;
}

.icon-notify-margin{
  width: 40%;
  margin-left: 30%;
}

.center{
  text-align: center;
}

.explaintext {
  padding: 15px 15px;
}

.longsection{
  margin: 0px; 
}

.backgroundgray{
  min-height: 115px;
  .font-subtext{
    padding-left: .3rem;
    padding-right: .3rem;
    padding-bottom: .3rem;
  }
}
.backgroundgray.long{
  padding-left: 2rem;
  padding-right: 2rem;
  .font-subtext{
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
    line-height: 1rem;
    // text-align: left;
    padding: 0 !important;
  }
  .font-label {
    font-size: 1.2rem;
  }
}

.margin-icon{
  height: 50px;
  // margin-top: 20px;
  // width: 100%;
  display: initial;
}

.margin-icon-config{
  height: 35px;
  display: initial;
}

.font-subtext {
  font-size: 1rem;
}
/*
margin-top: 20px;
    margin-left: 45%;
    display: initial;
*/