.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.margin-toop{
  margin-top: 5%;
  margin-bottom: 14%;
  width: 90%;
}

.borders-bottom{
  border-bottom: 1px solid #c5c5c5;
}

.borders-rigth{
  border-right: 1px solid #c5c5c5;
}

.icon-notify-margin{
  width: 40%;
  margin-left: 30%;
}

.center{
  text-align: center;
}

.explaintext {
  padding: 15px 15px;
}

.longsection{
  margin: 0px; 
}

.backgroundgray{
  min-height: 115px;
}

.margin-icon{
  margin-top: 20px;
  width: 100%;
  display: initial;
}
/*
margin-top: 20px;
    margin-left: 45%;
    display: initial;
*/